.wp-block-lasdfg-feed {
	
}
	.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item {
		display: grid;
		grid-template-columns: 60px auto min-content;
		gap: 5px 10px;
		grid-template-areas:
			"avatar title    button"
			"avatar platform button"
		;
		text-align: left;
		margin-bottom: 15px;
	}
		.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item .avatar {
			grid-area: avatar;
			object-fit: cover;
			background-color: white;
			border-radius: 100%;
			overflow: hidden;
			align-self: flex-start;
		}
			.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item .avatar img {
				display: block;
			}
		.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item .title {
			grid-area: title;
			align-self: flex-end;
			font-size: 20px;
			line-height: 1.2;
		}
		.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item .platform-name {
			grid-area: platform;
			align-self: flex-start;
			font-size: 12px;
		}
		.wp-block-lasdfg-feed .components-placeholder__fieldset .platform-item button {
			grid-area: button;
			align-self: center;
		}
	.wp-block-lasdfg-feed .components-placeholder__fieldset .components-dropdown-menu {
		align-self: center;
	}
.lasdfg-platform-icon {
	display: inline;
}
	.lasdfg-platform-icon svg,
	.lasdfg-platform-icon img {
		vertical-align: top;
		width: 1.5em;
		height: 1.5em;
		display: inline-block;
		position: relative;
		top: 0.25em;
		margin-right: 0.25em;
	}
